<div class='container'>
  <div class='row main'>

    <div class='col-lg-6 offset-lg-3 hidden-sm-down title-box'>
      <div class='card bg-transparent'>
        <span class="text-center">
          <h2 class='subtitle'>Conversor Universal de Moedas</h2>
        </span>
      </div>
    </div>

    <div class='col-lg-4 offset-lg-1 offset-md-1 exchange_box'>
      <div class='row'>
        <div class='col-md-8 offset-md-2 text-sm-center text-center'>
          <%= image_tag 'logo.png', class: 'img-fluid'%>
        </div>
      </div>

      <div class='row'>
        <%= render 'exchange_box' %>
      </div>
    </div>

  </div>
</div>
